<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Form di registrazione</title>
	<style>
        body {
            margin-left: 30%;
			margin-right: 30%;
            font-family: Arial;
            font-size: 22px;
            text-align: center;
            background: #a9d6bf; 
        }
		p {
			text-align: left;
			color: red;
		} 
		#btnid {
			text-align: center;		
		}

    </style>
        
    </head>
    <body>
        <h1>Form di registrazione</h1>
        <form action="/accedi" method="get">
            <fieldset>
                <legend>Dati utente</legend>
                <input type="hidden" name="controllo" value="2"><br>
            <p>
                <label for="fname">Nome utente:</label><br>
                <input type="text" name="name" size="20" maxlength="16">
            </p>
            <p>
                <label for="fpassword">Password:</label><br>
                <input id="fcognome" type="password" name="cognome" value="il tuo cognome" size="50" maxlength>
            </p>
                
            <p id="btnid">
            <input type="reset" value="cancella">
            <input type="submit" value="invia dati">
            </p>
            </fieldset>
            
        </form>
        <br>
        <a href="/login">Utente già registrato</a>
    </body>
</html>